@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Dosis|Abel|Exo:400,800,700italic,700,600italic,900,900italic,800italic,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600|Advent+Pro:400,700,600,500,300,200,100);
* {
	box-sizing: border-box;
}

body {
	background-color: rgb(15,15,50);
	font-family: Exo;
	color: white;
        padding: 10px;
}
h1 {
	font-weight: 800;
	text-align: center;
        font-family: Exo;
}
div {
	font-weight: 500;
}
.ui.dropdown {
        background: transparent;
        border: 1px solid gray;
        text-align: center;
}
.ui.dropdown option {
        text-align: center;
}

div.player_options {
        text-align: center;
}

/* Layout of selection rows */
div.set_options {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: .5em;
        margin-top: .5em;
        position: relative;
}
div.set_options > * {
        margin: 0 5px;
        flex-shrink: 1;
}
div.set_options .ui.checkbox {
        width: 12em;
        min-width: auto;
}
div.set_options .with_at_most {
}
div.set_options select, div.player_options select {
        width: 2em;
}
div.set_options .category {
        width: 10em;
}
div.set_options.disabled, div.set_options.disabled label {
        color: gray;
}

.ui.selection.dropdown, .ui.selection.dropdown .item {
        background: transparent;
}
.ui.selection.dropdown .menu {
        background-color: rgb(15,15,50);
}
.ui.selection.dropdown {
        width: 2.5em;
        min-width: initial;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 50px;
        min-height: 1.5em;
        /*padding: 0.25em 0.5em;*/
}
.ui.selection.dropdown,
.ui.selection.dropdown:hover,
.ui.selection.dropdown .item,
.ui.selection.dropdown .item.selected,
.ui.selection.dropdown .item.active,
.ui.selection.dropdown .item:hover,
.ui.selection.visible.dropdown > .text:not(.default) {
        color: white;
        border-color: white;
}
.disabled .ui.selection.dropdown,
.disabled .ui.selection.dropdown:hover,
.disabled .ui.selection.dropdown .item,
.disabled .ui.selection.dropdown .item.selected,
.disabled .ui.selection.dropdown .item.active,
.disabled .ui.selection.dropdown .item:hover,
.disabled .ui.selection.visible.dropdown > .text:not(.default) {
        color: gray;
        border-color: gray;
}
.ui.selection.dropdown .menu {
        max-height: 80vh;
 }
.ui.selection.dropdown > .dropdown.icon {
        right: 0.5em ;
}
.ui.selection.dropdown .item.active, .ui.selection.dropdown .item:hover {
        background-color: rgb(30,30,80);
}


/* The !important here are unavoidable due to use of that
 * directive inside semantic-ui. :-(  */
div.set_options .ui.checkbox label {
        white-space: nowrap;
        color: white !important;
}
div.set_options.disabled .ui.checkbox label {
        color: gray !important;
}
div.set_options .ui.toggle.checkbox input:checked~label{
        color: white !important;
}
div.set_options.disabled, div.set_options.disabled .ui.checkbox label {
        color: rgb(0.8, 0.8, 0.8) !important;
        border-color: rgb(0.6, 0.6, 0.6) !important;
}

button#randomize_trigger{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

table {
        width: 80%;
        margin: 1em auto;
}
td, th {
        padding: 0.25em;
}
td {
        font-weight: normal;
        text-align: center;
}
th {
        font-weight: bold;
        border-bottom: 1px solid white;
}
#main_container {
        position: relative;
}
#results {
        /*position: absolute;*/
        /*height: 100%;*/
        /*width: 100%;*/
        /*top: 0;*/
        /*left: 0;*/
        background: rgb(15, 15, 50);
        display: none;
        font-size: 30px;
}
#results_buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 1em auto;
        width: 100%;
}
#results_buttons button {
        font-size: 30px;
}


/* font sizes of various elements, collected for future responsiveness */
h1 {
        font-size: 30px;
}
div.set_options {
        font-size: 20px;
}
div.set_options .category, div.player_options, div.set_options .ui.checkbox label {
        font-size: 20px;
}
div.set_options .with_at_most {
        font-size: 12px;
}
.ui.dropdown{
        font-size: 30px;
}
.ui.dropdown .menu > .item  {
        font-size: 20px;
}

button#randomize_trigger {
        font-size: 35px;
}
#results {
        font-size: 20px;
        z-index: 10;
}
#results th {
        font-size: 35px;
}
#results button {
        text-transform: uppercase;
}

.footer {
        margin-top: 2em;
        text-align: center;
        color: #ccc;
}

@media screen and (min-width: 480px){

  div.set_options, div.set_options .category, div.player_options, div.set_options .ui.checkbox label {
          font-size: 24px;
  }

}

@media screen and (min-width: 600px){

  h1, #randomize_trigger {
    font-size: 50px;
  }
  div.set_options, div.set_options .category, div.player_options, div.set_options .ui.checkbox label {
          font-size: 30px;
  }
  div.set_options, div.player_options {
    margin-bottom: 1.5em;
  }
  div.set_options .with_at_most {
        font-size: 20px;
  }


}
